[[plugins]]
repo = 'nvim-treesitter/nvim-treesitter'
lua_add = '''
  require'nvim-treesitter.configs'.setup {
    highlight = {
      enable = true,
      -- Setting this to true will run `:h syntax` and tree-sitter at the same time.
      -- Set this to `true` if you depend on 'syntax' being enabled (like for indentation).
      -- Using this option may slow down your editor, and you may see some duplicate highlights.
      -- Instead of true it can also be a list of languages
      additional_vim_regex_highlighting = false,
    },
  }
'''

[[plugins]]
repo = 'yorumicolors/yorumi.nvim'
hook_add = '''
  colorscheme yorumi
'''

[[plugins]]
repo = 'MunifTanjim/nui.nvim'

[[plugins]]
repo = 'rcarriga/nvim-notify'

[[plugins]]
repo = 'folke/noice.nvim'
depends = ['nui.nvim', 'nvim-notify']
lua_add = '''
  require('noice').setup({
    routes = {
      {
        filter = { event = "msg_showmode" },
        view = "notify",
      },
    },
  })
'''

[[plugins]]
repo = 'nvim-lualine/lualine.nvim'
lua_add = '''
  require('lualine').setup({
    sections = {
      lualine_a = {'mode'},
      lualine_b = {'branch', 'diff', 'diagnostics'},
      lualine_c = {'filename'},
      lualine_x = {
        'encoding',
        'fileformat',
        'filetype',
        {
          require("noice").api.status.message.get_hl,
          cond = require("noice").api.status.message.has,
        },
        {
          require("noice").api.status.command.get,
          cond = require("noice").api.status.command.has,
          color = { fg = "#ff9e64" },
        },
        {
          require("noice").api.status.mode.get,
          cond = require("noice").api.status.mode.has,
          color = { fg = "#ff9e64" },
        },
        {
          require("noice").api.status.search.get,
          cond = require("noice").api.status.search.has,
          color = { fg = "#ff9e64" },
        },
      },
      lualine_y = {'progress'},
      lualine_z = {'location'}
    },
  })
'''

[[plugins]]
repo = 'nanotee/sqls.nvim'

[[plugins]]
repo = 'Shougo/ddc-source-lsp'

[[plugins]]
repo = 'uga-rosa/ddc-source-lsp-setup'

[[plugins]]
repo = 'neovim/nvim-lspconfig'

[[plugins]]
repo = 'williamboman/mason.nvim'

[[plugins]]
repo = 'williamboman/mason-lspconfig.nvim'
lua_add = '''
  require('config.lspconfig')
'''

[[plugins]]
repo = 'joshuavial/aider.nvim'
depends = ['denops.vim']
lua_add = '''
  require('aider').setup({
    auto_manage_context = true,
    default_bindings = true,
    debug = false,
    ignore_buffers = {},
  })
'''
